body{
    height: 100vh;
    overflow: scroll;
}

.grid-container{
    display: grid;
    grid-template-columns: 25% 50% 25%;

}
.text-center {
    text-align: center;
}
.title{
    color: lightslategray;
}
.content{
    padding: 0 20px ;
}
.experience-item{
    border-bottom: 1px solid gray;
    margin-bottom: 5px;
}
.years{
    font-style: italic;
}

h4{
    margin: 4px 0;
}

h5{
    margin: 2px 0;
}
footer{
    text-align: center;
}

.menu{
    padding-inline-start: 0;

}

.menu > li {
    display: inline;
    text-align: center;
    text-decoration: none;
}
